[Desktop Entry]
Encoding=UTF-8
Name=Link to Build A Blog With Jekyll And GitHub Pages — Smashing Magazine
Type=Link
URL=https://www.smashingmagazine.com/2014/08/build-blog-jekyll-github-pages/
Icon=text-html
