[Desktop Entry]
Encoding=UTF-8
Name=Link to github pages getting started - Google Search
Type=Link
URL=https://www.google.com/search?sxsrf=ALeKk00RPpYhC93WOXvXRJqgXd0I-XX7GA%3A1601839397677&ei=JSF6X6TuKI_KswWe85Qw&q=github+pages+getting+started&oq=github+pages+getting+started&gs_lcp=CgZwc3ktYWIQAzICCAA6BAgAEEc6BwgAEBQQhwJQpzhY5ERgrmZoAXAFeACAAbIBiAHSD5IBBDAuMTWYAQCgAQGqAQdnd3Mtd2l6yAEIwAEB&sclient=psy-ab&ved=0ahUKEwjklKTi1JvsAhUP5awKHZ45BQYQ4dUDCA0&uact=5
Icon=text-html
