[Desktop Entry]
Encoding=UTF-8
Name=Link to Adding content to your GitHub Pages site using Jekyll - GitHub Docs
Type=Link
URL=https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/adding-content-to-your-github-pages-site-using-jekyll
Icon=text-html
Name[en_US]=Link to Adding content to your GitHub Pages site using Jekyll - GitHub Docs [2 main types of content--pages & posts]%%%%%
