[Desktop Entry]
Encoding=UTF-8
Name=Link to jekyll/jekyll: Jekyll is a blog-aware static site generator in Ruby
Type=Link
URL=https://github.com/jekyll/jekyll
Icon=text-html
Name[en_US]=Link to jekyll/jekyll: Jekyll is a blog-aware static site generator in Ruby%%%%%+ [the OFFICIAL GitHub Jekyll repo!]
