[Desktop Entry]
Encoding=UTF-8
Name=Link to pages-themes/minimal: Minimal is a Jekyll theme for GitHub Pages
Type=Link
URL=https://github.com/pages-themes/minimal
Icon=text-html
