---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*
GS: to override any SASS variables in "_variables.scss", you must place new values here, BEFORE
the `@import` statements, as that is the point where the variables are used!
See: https://github.com/mmistakes/minimal-mistakes/issues/2278#issuecomment-541484035
*/

/*
- Let's override the stinking `$max-width` variable in "_variables.scss", which controls the
  maximum width of the entire content on the screen, as it is currently set to `$x-large`, which
  is only 1280px, which is too small to take up the entire width on a standard
  1920 (px wide) x 1080 (px tall) display, and WAY TOO SMALL for a 3840 x 2160 4k display!
This is what is currently in "_variables.scss" under the "Breakpoints" section:

        $small: 600px !default;
        $medium: 768px !default;
        $medium-wide: 900px !default;
        $large: 1024px !default;
        $x-large: 1280px !default;
        $max-width: $x-large !default;

Override $max-width (don't forget the semicolon!):
*/
$max-width: 100%; // default is 1280px

/*
GS: override screen sizes above to optimize for old 1280 (wide) x 1024 low-res monitors, new 3840
(wide) x 2160 4k monitors, standard (modern) 1920 (wide) x 1080 monitors, and tiny modern smart
phones with high-resolution 1920 (tall) x 1080 (wide) displays.

Note: experimenting shows that displays WITH A WEB-PAGE VIEWABLE AREA (ie: subtracting the scroll
bar, Ubuntu left-hand "start menu", and any other margins inside or outside the edges of the browser
window) **greater than or equal to** (ie: `>=`, NOT `<` !) these variable values below are
considered that size!
- You can verify this by right-clicking in Chrome --> Inspect, then click the 3 dots in the
top-right of the inspect window, choose the bottom dock position to not interfere with the window
width, then drag the window to resize it. As you do so, you'll see Chrome display the window size
live (while resizing it) in the top-right of the window.
*/
$small: 600px;     // default is 600px
$medium: 768px;    // default is 768px
$large: 1024px;    // default is 1024px [my old 1280x1024 low-res monitor fits here]
$x-large: 1280px;  // default is 1280px [my 1920x1080 laptop, my 3840x2160 4k 32" monitor, AND
                   // my 1920x1080 Google Pixel 2 5-inch phone ALL fit into this category!]


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*
GS: override any CSS with new CSS styles AFTER the `@import "minimal-mistakes";` line just above!
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
Anything you place after this point will therefore "cascade and override" the previous CSS styles.
*/

/*
GS: Decrease font sizes of the entire website.
Defaults for small, medium, large, and x-large screens are:
16, 18, 20, and 22px, in that order. All other font sizes are "em"
[typography unit](https://en.wikipedia.org/wiki/Em_(typography)) multipliers of these pixel
(px) values, and are therefore relative to and changed by these singular pixel values.
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
- It looks like the screen pixel sizes to move into each new "size" category are defined in
  the "Breakpoints" section of "_variables.scss"?
*/
html {
  font-size: 14px; // change to whatever (default: 16px?)

  @include breakpoint($small) {
    font-size: 14px; // change to whatever (default: 16px?)
  }

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever (default: 18px?)
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever (default: 20px?)
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever (default: 22px?)
  }
}

