[Desktop Entry]
Encoding=UTF-8
Name=Link to Adding a theme to your GitHub Pages site using Jekyll - GitHub Docs
Type=Link
URL=https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/adding-a-theme-to-your-github-pages-site-using-jekyll
Icon=text-html
