[Desktop Entry]
Encoding=UTF-8
Name=Link to Blogging Like a Hacker
Type=Link
URL=https://tom.preston-werner.com/2008/11/17/blogging-like-a-hacker.html
Icon=text-html
