[Desktop Entry]
Encoding=UTF-8
Name=Link to Getting Started with GitHub Pages · GitHub Guides
Type=Link
URL=https://guides.github.com/features/pages/
Icon=text-html
