[Desktop Entry]
Encoding=UTF-8
Name=Link to Directory Structure | Jekyll • Simple, blog-aware, static sites
Type=Link
URL=https://jekyllrb.com/docs/structure/
Icon=text-html
